.container {
  width: 120rem;
  margin: 8rem auto;
  background-color: var(--color-grey-light-1);
  box-shadow:var(--shadow-dark);
  min-height: 50rem;
}
.header {
  font-size: 1.4;
  height: 7rem;
  background-color: var(--color-grey-light-2);
  border-bottom: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.content {
  display: flex;
}
.sidebar {
  background-color: var(--color-grey-dark-1);
  color: var(--color-white);
  flex: 0 0 18%;
  // min-height: 50rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.hotel-view {
  background-color: var(--color-white);
  background-color: cornflowerblue;
  flex: 1;
}
